*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 30px;
    font-family: Arial;
}
body{
    background-color: #000000;
   
}
.container{
    width: 400px;
    margin: 0 auto;
}
.calc{
    max-width: 100%;
    margin: 0 auto;
}
.display{
    color: #ffffff;
    text-align: right;
    font-size: 60px;
    padding: 20px;
}

.keypad-table tr:first-child .key{
    background-color: #a5a5a5;
}
.keypad-table tr:first-child .key:active{
    background-color: #a5a5a590;
}
.keypad-table tr td:last-child .key{
    background-color: #f80419;
}
.keypad-table tr td:last-child .key:active{
    background-color: #a15a63cc;
}
.key{
    width: 90px;
    height: 90px;
    border: 1px solid black;
    text-align: center;
    line-height: 90px;
    border-radius: 90px;
    margin: 5px;
    background-color: #333333;
    color: #ffffff;
    cursor: pointer;
    user-select: none;
}
.key:active{
    background-color: #33333390;
}
.allClear{
    width: 190px;
}
.zero{
    width: 190px;
}
@media (max-width:900px) and (min-width:699px){
    body{
        margin-top: 200px;
    }
}
@media (max-width:700px) and (min-width:400px){
  
    .key{
        width: 80px;
        height: 80px;
        line-height: 80px;
        border-radius: 80px;
    }
    .zero{
        width: 190px;
    }
}
@media (max-width:399px) and (min-width:300px){
    body{
        margin-top: 50px;
    }
    .container{
        width: 240px;
        margin: 0 auto;
    }
    .display{
        text-align: right;
        font-size: 50px;
        
    }
    .key{
        width: 50px;
        height: 50px;
        line-height: 50px;
        border-radius: 50px;
        margin: 3px;
        font-size: 20px;
    }
    .zero{
        width: 100px;
    }
}
